body{background-color: #FFDEEE;}

h1{color:#420F32;
	font-family:Zapfino; 
	font-size: 50px; 
	text-align: center; 
	background-color: #FAEAF5;
	border-style: dotted}


p{font-family:Papyrus;
	font-size:25px;
	color:#420F32;
	text-align: center}


img{border-style: dashed;
	border-width: 10px;
	display: block;
	margin: auto;
	border-color:#420F32;
	border-radius: 30%}



a{text-decoration: none;
	color:#420F32;
	font-family:Papyrus;
	font-weight:bold}

a:hover{color:ghostwhite;
	font-size: 25px}



ul{list-style: none;
	display: block;
	margin-right:15%;
	margin-left:15%;
	background-color:#FAEAF5;
	border-style: dotted;}





li{display: inline-block;
	padding: 20px;
	margin-right:5%;
	margin-left:5%}



iframe{display: block;
	margin-left: auto;
	margin-right: auto;}